/***************************************************************/
/* Created: 5/27/2017 by Troy Center, troycenter1@gmail.com.   */
/* Coding Dojo HTML CSS "Git Basics" project                   */
/***************************************************************/

/***************************************************/
/*               CSS reset settings                */
/***************************************************/

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

/***************************************************/
/*               Header                            */
/***************************************************/